<% provide(:title, "Update") %>
<% provide(:button_text, '更新') %>
<h1>記事を編集</h1>

<%= form_with(model: @article, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= render 'shared/article_form' %>
<% end %>
