<footer class="footer">
  <small>
    こうがく祭実行員会2020
  </small>
  <nav>
    <ul>
      <li><%= link_to "dummy1", '#' %></li>
      <li><%= link_to "dummy2", '#' %></li>
      <li><%= link_to "twitter", '#' %></li>
    </ul>
  </nav>
</footer>
