<footer class="footer">
  <small>
    こうがく祭実行員会2020
  </small>
  <nav>
    <ul>
      <li><%= link_to "dummy", '#' %></li>
      <li><%= link_to "twitter", 'https://twitter.com/2020kougakusai' %></li>
    </ul>
  </nav>
</footer>
